.salvar-icon{
    background: url("icons/add.png") !important;
}
.gravar {
	background-image: url("/icons/add.png") !important;
}

.ui-icon.meu-icone {
  background: url("/icons/add.png") no-repeat;
  height: 16px;
  width: 16px;
}

.cabecalho {
    background-image: url('resources/icons/dasdads.png') !important;
}

.dolar-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/add.png") !important;
}