.tamanhoTexto .ui-widget {
	font-size: 20px !important;
}

.textoMenuGeral {
	font-size: 60px !important;
}

.ui-button {
   font-size: 20px !important;
   height:40px;
}

.ui-button-text{
    margin-top: 0px;
    margin-bottom: 0px;
}

.texto-centralizado {
	text-align: center;
}



.corPanel .ui-panel-titlebar {
    background: #8FBC8F;
    color:#000000;
}

.corDialog .ui-dialog-titlebar{
    background: #8FBC8F;
    color:#000000;
}