.tamanhoTexto .ui-widget {
    font-size: 20px !important;
}

.styleGreen {    
    background-color: #8FBC8F !important;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 60px !important;
}

.pgColumns50 {
    width: 50%;
}

.colunasTabela100PX{
    width: 100px;
}

.colunasTabela200PX{
    width: 200px;
}

.tamanhoTexto15 .ui-widget {
    font-size: 20px !important;
}

.textoMenuPrincipal .ui-widget{
    font-size: 20px !important;
}

.semMargin {
    margin-top: 0px;
}

.ui-button {
    font-size: 20px !important;
    align-items: center;
}

.ui-button-text{
    margin-top: 5px;
    margin-bottom: 0px;
}

.texto-centralizado {
    text-align: center;
}

.corPanel .ui-panel-titlebar {
    background: #8FBC8F;
    color:#000000;
}

.corDialog .ui-dialog-titlebar{
    background: #8FBC8F;
    color:#000000;
}

.semBorda tr, .semBorda td {
    border: none !important;
}