.tamanhoTexto .ui-widget {
	font-size: 20px !important;
}

.textoMenuPrincipal .ui-widget{
	font-size: 20px !important;
}

.semMargin {
    margin-top: 0px;
}

.ui-button {
   font-size: 20px !important;
   align-items: center;
}

.ui-button-text{
    margin-top: 5px;
    margin-bottom: 0px;
}

.texto-centralizado {
	text-align: center;
}

.corPanel .ui-panel-titlebar {
    background: #8FBC8F;
    color:#000000;
}

.corDialog .ui-dialog-titlebar{
    background: #8FBC8F;
    color:#000000;
}

.semBorda tr, .semBorda td {
	border: none !important;
}