.addUser-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/AddUser32.png") !important;
    height: 32px;
    width: 32px;
}

.AddVerde32-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/AddVerde32.png") !important;
    height: 32px;
    width: 32px;
}

.atualizarUser-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/AtualizarUser16.png") !important;
}

.bussiness-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/Bussiness32.png") !important;
    height: 32px;
    width: 32px;
}

.cabecalho {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/add.png") !important;
}

.dolar-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/add.png") !important;
}

.gravar {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/add.png") !important;
}

.Information32-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons32/Information32.png") !important;   
    height: 32px;
    width: 32px;
    margin-left: -10px;
    margin-top: 0px;
    background-position: 0px 0px;
}

.membrosEpt-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/MembrosEpt32.png") !important;
    height: 32px;
    width: 32px;
}

.Padlock32-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/Padlock32.png") !important;  
    margin-left: -10px;
    margin-top: 0px;
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: 0px 0x;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}

.user-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/User32.png") !important;
    height: 32px;
    width: 32px;
}

.salvar-icon{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/LoadingBar.gif") !important;
    height: 32px;
    width: 32px;
}

.SetaCima32-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/SetaCima32.png") !important;  
    margin-left: -10px;
    margin-top: 0px;
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: 0px 0x;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}

.SetaEsquerda32-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/SetaEsquerda32.png") !important;  
    margin-left: -10px;
    margin-top: 0px;
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: 0px 0x;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}

.ui-icon.meu-icone {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/LoadingBar.gif") !important;
    height: 16px;
    width: 16px;
}

.visualizarUser-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/VisualizarUser32.png") !important;
    height: 32px;
    width: 32px;
}

.visualizarList-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/VisualizarList32.png") !important;
    height: 32px;
    width: 32px;
}