.Aceito24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Aceito.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.TelefonePreto24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24TelefonePreto.png") !important;
    height: 24px;
    width: 34px;
    background-position: 5px 0px;
}

.UserPreto24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24UserPreto.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.GrupoPreto24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24GrupoPreto.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.PredioPreto24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24PredioPreto.png") !important;
    height: 24px;
    width: 34px;
    background-position: 5px 0px;
}

.IndicadorPreto24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24IndicadorPreto.png") !important;
    height: 24px;
    width: 34px;
    background-position: 5px 0px;
}

.PlanoPreto24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24PlanoPreto.png") !important;
    height: 24px;
    width: 34px;
    background-position: 5px 0px;
}

.CasaPreto24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24CasaPreta.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Acompanhamento24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Acompanhamento.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Add24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons32/Add24.png") !important;
    height: 24px;
    width: 24px;
    background-position: 0px 0px;
}

.AddPreto24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24AddPreto.png") !important;
    height: 24px;
    width: 24px;
}

.Alert24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Alert.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Atividade24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Atividade.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.BlackCheck24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24BlackCheck.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Clock22-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/Clock22.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Cross24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Cross.png") !important;
 
    background-position: 0px 0x;
}

.Check24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Check.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.CancelPreto24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24CancelPreto.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Edit24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Edit.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Email24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Email.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Empreendimento24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Empreendimento.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Find24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Find.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.FlagRed24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24FlagRed.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.FlagBlue24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24FlagBlue.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.FlagGreen24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24FlagGreen.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.FlagYellow24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24FlagYellow.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Gear24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Gear.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Grafico24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/Grafico24.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Ideia24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Ideia.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Key24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/Key24.png") !important;  
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.KeyPreto24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Key.png") !important;  
    height: 24px;
    width: 34px;
}

.Home24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/Home24.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Indicador24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Indicador.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Location24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Location.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.LupaPreta24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24LupaPreta.png") !important;
    height: 24px;
    width: 24px;
    background-position: 0px 0px;
}

.Mala24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/Mala24.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.My24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/My24.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.OlhoPreto24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24OlhoPreto.png") !important;
    height: 24px;
    width: 34px;
}

.OutPreto24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24OutPreto.png") !important;
    height: 24px;
    width: 34px;
}

.Parceria24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/Parceria24.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.PhoneList24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/PhoneList24.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Pdf24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/Pdf24.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Question24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Question.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Target24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Target.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Users24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/Users24.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Relatorio24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Relatorio.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Refresh24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Refresh.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.RefreshPreto24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24RefreshPreto.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Save24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Save.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.SaveEdit24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24SaveEdit.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.SalvarPreto24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24SalvarPreto.png") !important;
    height: 24px;
    width: 24px;
}

.See24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24See.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.SimpleClock22-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/SimpleClock22.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Telephone24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Telephone.png") !important;
    height: 24px;
    width: 34px;
    background-position: 5px 0px;
}

.Membros24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons32/32Membros.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.TrashPreto24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24TrashPreto.png") !important;
    height: 24px;
    width: 24px;
}

.Xls24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/Xls24.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.XPreto24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24XPreto.png") !important;
    height: 24px;
    width: 24px;
}