.homePage-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/HomePage16.png") !important;
    margin-left: -5px;
}
.users-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/Users16.png") !important;
}
.addVerde16-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/AddVerde16.png") !important;
}

.find-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/Find16.png") !important;
}

.planoAcao-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/PlanoAcao16.png") !important;
}

.empreendimento-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/Empreendimento16.png") !important;
}

.membroEpt-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/MembrosEpt16.png") !important;
}

.parceiros-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/Parceiros16.png") !important;
}

.atividade-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/Atividade16.png") !important;
}

.Telefone-iconfinder16{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/Telefone16.png") !important;
}

.profile-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/Profile16.png") !important;
}

.Information16-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/Information16.png") !important;
}

.Edit16-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/Edit16.png") !important;
}

.Key16-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/Key16.png") !important;
}

.Exit16-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/Exit16.png") !important;
}

.Save16-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/Save16.png") !important;
}

.Cofirma16-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/Cofirma16.png") !important;
}

.Alert16-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/Alert16.png") !important;
}

.Cancel16-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/Cancel16.png") !important;
}

.Update16-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/Update16.png") !important;
}

.Refresh16-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/Refresh16.png") !important;
}

.Pen16-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/Pen16.png") !important;
}

.Pencil16-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/Pencil16.png") !important;
}

.EditBlue16-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons16/EditBlue16.png") !important;
}