.Add24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons32/Add24.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.BlackCheck24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24BlackCheck.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Clock22-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/Clock22.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Cross24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Cross.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Edit24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Edit.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Check24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Check.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Email24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Email.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Find24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Find.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Grafico24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/Grafico24.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Key24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/Key24.png") !important;  
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Home24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/Home24.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Mala24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/Mala24.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.MembroEpt24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/MembroEpt24.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.PhoneList24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/PhoneList24.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Pdf24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/Pdf24.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Parceria24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/Parceria24.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Question24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Question.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Users24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/Users24.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Target24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Target.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Atividade24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Atividade.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Aceito24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Aceito.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Ideia24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Ideia.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Refresh24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Refresh.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Save24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/24Save.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}



.SimpleClock22-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/SimpleClock22.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}

.Xls24-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons24/Xls24.png") !important;
    height: 24px;
    width: 34px;
    background-position: 0px 0x;
}