.padlock-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/Padlock32.png") !important;  
    margin-left: -5px;
    height: 32px;
    width: 32px;
}

.Information32-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons32/Information32.png") !important;   
    height: 32px;
    width: 32px;
}

.atualizarUser-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/AtualizarUser16.png") !important;
    
}

.addVerde-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/AddVerde32.png") !important;
    height: 32px;
    width: 32px;
}

.user-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/User32.png") !important;
    height: 32px;
    width: 32px;
}

.membrosEpt-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/MembrosEpt32.png") !important;
    height: 32px;
    width: 32px;
}

.bussiness-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/Bussiness32.png") !important;
    height: 32px;
    width: 32px;
}

.visualizarUser-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/VisualizarUser32.png") !important;
    height: 32px;
    width: 32px;
}

.visualizarList-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/VisualizarList32.png") !important;
    height: 32px;
    width: 32px;
}



.addUser-iconfinder{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/AddUser32.png") !important;
    height: 32px;
    width: 32px;
}

.salvar-icon{
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/LoadingBar.gif") !important;
    height: 32px;
    width: 32px;
}
.gravar {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/add.png") !important;
}

.ui-icon.meu-icone {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/LoadingBar.gif") !important;
    height: 16px;
    width: 16px;
}

.cabecalho {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/add.png") !important;
}

.dolar-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/icons/add.png") !important;
}